Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
App_Data*/
App_Code*/
App_Plugins*/
App_Browsers*/
bin*/
media/*
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.sass-cache
